* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #fff;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

/* BUTTONS */
button {
  background: #2e7d32;
  color: #f0f1f0;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
}

.btn-secondary {
  border: 1px solid #2e7d32;
  background: green;
  color:#f0f1f0
  padding: 10px 18px;
}

/* HERO */


.hero-section {
  height: 90vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;

  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  text-align: center;
}

/* dark overlay for readability */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-text {
  
  max-width: 520px;
  color: white;
  text-align: center;
}

.hero-text h1 span {
  color: #4caf50;
  text-align: center;
   display: flex;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.hero-text h1 span {
  color: #2e7d32;
  text-align: center;
  display: flex;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  background-color: #2e7d32;
}

/* INTRO */
.intro {
  text-align: center;
  padding: 60px 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 60px 80px;
}

.card {
  text-align: center;
}

.icon-circle {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  background: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SOLUTION */
.solution {
  display: flex;
  gap: 60px;
  padding: 80px;
  align-items: center;
}

.solution-text ul {
  list-style: none;
  margin-top: 20px;
}

.solution-text li {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

/* CTA */
.cta {
  text-align: center;
  padding: 80px 20px;
  background: #f7f7f2;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background: #061b2c;
  color: white;
}

.footer-social .icons {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: white;
  font-size: 18px;
}
.hero-bg {
  height: 90vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 80px;
}

/* dark overlay for readability */
.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

